<h1 class="welcome-text">What would you like to do?</h1>

<div class="mat-elevation-z8">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a mat-raised-button routerLink="/new-insurance" routerLinkActive="active">
                    New Insurance
                </a>
            </div>
            <div class="col-sm">
                <a mat-raised-button routerLink="/" routerLinkActive="active">
                    Modify an insurance
                </a>
            </div>
            <div class="col-sm">
                <a mat-raised-button routerLink="/list" routerLinkActive="active">
                    List all insurance
                </a>
            </div>
            <div class="col-sm">
                <a mat-raised-button routerLink="/" routerLinkActive="active">
                    Reports
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <span></span>
            </div>
            <div class="col-sm">
                <a mat-raised-button routerLink="/" routerLinkActive="active">
                    New insurance type
                </a>
            </div>
            <div class="col-sm">
                <a mat-raised-button routerLink="/" routerLinkActive="active">
                    Settings
                </a>
            </div>
            <div class="col-sm">
                <span></span>
            </div>
        </div>
    </div>
</div>